.p-none
{
  padding: 0px;
}

.p-xs
{
  padding: 5px;
}

.p-md
{
  padding: 10px;
}

.p-lg
{
  padding: 15px;
}

.pt-none
{
  padding-top: 0px;
}

.pr-none
{
  padding-right: 0px;
}

.pr-lg
{
  padding-right: 15px;
}

.pr-xxlg
{
  padding-right: 30px;
}

.pl-md
{
  padding-left: 10px;
}

.pl-lg
{
  padding-left: 15px;
}

.pb-none
{
  padding-bottom: 0px;
}

.ml-md
{
  margin-left: 10px;
}

.ml-lg
{
  margin-left: 15px;
}

.mt-none
{
  margin-top: 0px;
}

.mt-xs
{
  margin-top: 5px;
}

.mt-md
{
  margin-top: 10px;
}

.mt-lg
{
  margin-top: 15px;
}

.mb-none
{
  margin-bottom: 0px;
}

.mb-xs
{
  margin-bottom: 5px!important;
}

.mb-md
{
  margin-bottom: 10px;
}

.mb-lg
{
  margin-bottom: 17px;
}

.hover-zoom
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hover-zoom:hover
{
  transform: scale(1.1, 1.1);
 
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hover-border
{
  border: 3px solid rgba(0, 0, 0, 0);
  
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hover-border:hover
{
  border: 0px solid rgba(0, 0, 0, 0);
  border-top: 3px solid rgba(80, 200, 100, 0.6);
  
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.small-caps
{
  font-variant: small-caps;
}

.tr-xs
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tr-xs:hover
{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  transition: all 200ms ease;
}

.tr-sm
{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.tr-sm:hover
{
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}

.hover-shadow
{
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hover-shadow:hover
{
  box-shadow: 0px 5px 5px rgba(80, 140, 100, 1);
  
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}

.hover-flip-y
{
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  transition: all 700ms ease;
}

.hover-flip-y:hover
{
  transform: rotateY(360deg);
 
  -webkit-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  transition: all 1500ms ease;
}


.clickable
{
  cursor: pointer;
  z-index: 1;
}

.light-border-bottom
{
  border-bottom: 1px solid #DDD;
}

.entry-light-bg
{
  background-color: rgba(80, 200, 100, 0.2);
}

.drop-shadow.cyan
{
  -webkit-filter: drop-shadow(0px 0px 5px #297);
  -moz-filter: drop-shadow(0px 0px 5px #297);
  -o-filter: drop-shadow(0px 0px 5px #297);
  -ms-filter: drop-shadow(0px 0px 5px #297);
  filter: drop-shadow(0px 0px 5px #297);
}

.drop-shadow.green
{
  -webkit-filter: drop-shadow(0px 0px 5px #284);
  -moz-filter: drop-shadow(0px 0px 5px #284);
  -o-filter: drop-shadow(0px 0px 5px #284);
  -ms-filter: drop-shadow(0px 0px 5px #284);
  filter: drop-shadow(0px 0px 5px #284);
}

.drop-shadow.yellow
{
  -webkit-filter: drop-shadow(0px 0px 10px #FCE99A);
  -moz-filter: drop-shadow(0px 0px 10px #FCE99A);
  -o-filter: drop-shadow(0px 0px 10px #FCE99A);
  -ms-filter: drop-shadow(0px 0px 10px #FCE99A);
  filter: drop-shadow(0px 0px 10px #FCE99A);
}

.drop-shadow.red
{
  -webkit-filter: drop-shadow(0px 0px 5px #FC3254);
  -moz-filter: drop-shadow(0px 0px 5px #FC3254);
  -o-filter: drop-shadow(0px 0px 5px #FC3254);
  -ms-filter: drop-shadow(0px 0px 5px #FC3254);
  filter: drop-shadow(0px 0px 5px #FC3254);
}

.drop-shadow.blue
{
  -webkit-filter: drop-shadow(0px 0px 5px #248);
  -moz-filter: drop-shadow(0px 0px 5px #248);
  -o-filter: drop-shadow(0px 0px 5px #248);
  -ms-filter: drop-shadow(0px 0px 5px #248);
  filter: drop-shadow(0px 0px 5px #248);
}

.drop-shadow.blue.sh-lg
{
  -webkit-filter: drop-shadow(0px 0px 10px #248);
  -moz-filter: drop-shadow(0px 0px 10px #248);
  -o-filter: drop-shadow(0px 0px 10px #248);
  -ms-filter: drop-shadow(0px 0px 10px #248);
  filter: drop-shadow(0px 0px 10px #248);
}

