button {
  border-radius: 1px;
  letter-spacing: 2px;
  font-weight: 400;
}

.m-none {
  margin: 0px;
}

mb-xs {
  margin-bottom: 3px;
}

mr-xs {
  margin-right: 3px;
}

ml-xs {
  margin-left: 3px;
}

mt-xs {
  margin-top: 3px;
}

p.image {
  margin: 0px;
  padding: 0px;
  text-align: center;
  transition: all 400ms ease;
}

p.image:hover {
  box-shadow: 0px 4px 8px;
  transition: all 400ms ease;
}
  
.pattern-bg {
  text-align: center;
/*   margin-bottom: 3px !important; */
  background-color: inherit;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.pattern-bg img {
/*   padding: 0px 3px; */
/*   background-color: #EEE; */
}

.plot > :last-child {
  margin: 0px;
}

.plot + p {
  margin: 0px;
}

.plot > .heading {
  margin: 0px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: black; 
  color: white;
  display: block;
  text-align: center;
  padding-bottom: 3px;
}

.plot > .desc {
  text-align: justify;
  letter-spacing: 0.25px;
  border: 1px solid lightgray;
  padding: 8px 10px;
  font-size: 14px;
  margin-bottom: 0px;
  color: black;
  transition: all 400ms ease;
}

.version {
  text-align: center;
  padding: 0px !important;
  transition: all 400ms ease;
/*   padding-bottom: 20px !important */
}

.version:hover {
  box-shadow: 0px 4px 8px;
  transition: all 400ms ease;
}

.version .details {
  padding: 5px 15px 25px 15px !important;
  border: 1px solid lightgray;
}

.version .heading {
  display: block;
  padding: 3px;
  background-color: black;
  color: white;
  text-transform: lowercase;
  font-variant: all-small-caps;
  font-size: 18px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  word-spacing: 5px;
  margin: 0px;
}

.version .settings {
  padding: 15px 0px 15px 0px;
}

.version .details .info {
  display: inline-block;
  margin: 0px;
  padding-bottom: 13px;
  margin-right: 5px;
}

.version .details .info .desc {
  background-color: black;
  color: white;
  padding: 2px 10px 5px 10px;
  text-transform: lowercase;
  font-variant: all-small-caps;
  font-size: 17px;
  letter-spacing: 0.5px;
}

.settings.sm .desc {
  font-size: 15px !important;
}

.version .details .info .value {
  background-color: grey;
  color: white;
  padding: 2px 10px 5px 10px;
  font-size: 17px;
  text-transform: lowercase;
  font-variant: all-small-caps;
  letter-spacing: 0.5px;
}

.settings.sm .value {
  font-size: 15px !important;
}

.episodes {
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  color: black;
  transition: all 300ms ease;
}

.episodes .desc {
  letter-spacing: 0.75px;
  padding: 1px 10px 3px;
  text-align: center;
  border: 1px solid #CCC;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

.episodes .ddl {
  font-size: 17px;
  text-transform: lowercase;
  font-variant: all-small-caps;
  letter-spacing: 0.75px;
  padding: 0px 0px 2px 5px;
  border: 1px solid #CCC;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

.ddl a {
  text-decoration: none;
  margin-right: 10px;
  border-left: 1px solid #CCC;
  padding-left: 10px;
} 

.donation {
  text-align: center;
  transition: all 400ms ease;
}

.donation:hover {
  box-shadow: 0px 3px 10px;
  transition: all 400ms ease;
}
